<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Arnob's Page</title>
  </head>
  <body>
    Hello there! General Kenobi!
  </body>
</html>
