body {
  background-color: #282c34;
  color: white;
  padding-left: 50px;
  font-family: Arial;
  text-align: center;
  background-image: url("babelfish.jpg");
}
div.transbox {
  background-color: #ffffff;
  border: 10px solid black;
  opacity: 0.6;
}

img {
  align-self: right;
}

h1 {
  color: white;
  text-align: left;
  font-size: 60px;
  opacity: 1;
}

h2 {
  color: white;
  text-align: left;
}

p {
  font-family: Arial;
  font-size: 20px;
}

form {
  align-self: start;
}

span {
  padding-top: 10px;
  align-self: flex-start;
  padding-bottom: 10px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 175px;
}
